/* Font Families
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive; 
*/

h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Satisfy', cursive;
    font-size: 1.8rem; 
}

.first-page {
    height: 300mm;
    width: 200mm;
    margin-left: 550px;
    border: 2px solid;
    border-color: red;
    background-color: rgb(241, 239, 239);
    
}

.second-page {
    height: 300mm;
    width: 200mm;
    margin-left: 550px;
    margin-top: 50px;
    border: 2px solid;
    border-color: red;
    /* text-align: center; */
    /* position: relative; */
}

.header1 {
    text-align: center;
    padding-top: 50%
}


.delivery-items {
    font-family: 'Satisfy', cursive;
    font-size: 3rem
}

.h1-color1 {
    color: red;
}

.divvy-logo2 {
    position:absolute;
    width: 150px;
    height: 150px;
    text-align: center;
    padding-left: 60.85%;
    padding-top: 1.5px;
}

.chicken-burger {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 23%;
    border-radius: 50%;
}

.steak-sandwich{
    position: absolute;
    width: 500px;
    height: auto;
    border-radius: 40%;
    margin-left: 25%;
    margin-top: 4%;
    transform: rotate(-11deg);
}

.logo-container {
    background: rgba(0, 0, 0, 0);
}

/* .bold-text {
    font-weight: bold;
} */

.steak-sandwich-container {
    position: absolute;
    padding-left: 24%;
    padding-top: 9%;
    line-height: 1;
}

.underline-text {
    text-decoration: underline;
}

.chicken-burger-container {
    text-align: right;
    line-height: 1;
    padding-top: 70px;
    padding-right: 350px;
}

.divvy-logo1 {
    width: 160px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.menu-headers {
    font-family: 'Poppins', sans-serif;
    color: rgba(221, 29, 29, 0.89);
    font-weight: bolder;
    margin: 0;
}
  
  .left {
    float: left;
    width: 45%;
    margin-left: 5%;
    margin-top: 2%;
  }
  
  .right {
    float: right;
    width: 45%;
    margin-left: 5%;
    margin-top: 2%;
  }
  
  .starters {
    float: left;
    width: 100%;
    height: auto;
  }

  .salads {
    float: left;
    width: 100%;
    height: auto;
  }
  
  .sides {
    float: left;
    width: 100%;
    height: auto;
  }
  
  .mains {
    float: left;
    width: 100%;
    height: auto;
  }
  
  .pizzas {
    float: left;
    width: 100%;
    height: auto;
  }
  
  .div6 {
    float: left;
    width: 100%;
    height: auto;
  }
  
  /* .div7 {
    float: left;
    width: 100%;
    height: auto;
  }
  
  .div8 {
    float: left;
    width: 100%;
    height: auto;
  } */
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  .item {
    font-weight: bold;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
  }

  .price {
    display: inline-block;
    float: right;
    font-size: 80%;
    padding-right: 4%;
    font-family: 'Poppins', sans-serif;
  }

  .note {
    display: inline-block;
    float: right;
    font-size: 80%;
    /* padding-right: 45%; */
    color: red;
    font-family: 'Satisfy', cursive;
  }

  .description {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
  }
  